/* h3 {
    color: blueviolet;
}

.container { 
  margin-top: 30px;
}


/* --------------------------------------ADVANCED COMPONENTS AND DATA BINDING------------------------------[ */
/* .container {
    margin-top: 30px;
  }
  
  p {
    color: blue;
  }
   */

   /* -----------------------------FORMS ----------------------------------------- */
   /* input.ng-invalid.ng-touched {
    border: 1px solid red;
   } */

   /* HTTP REQUEST */
   .container {
    margin-top: 30px;
  }
  
  .row {
    margin: 20px 0;
  }
  