<!-- ------------------------------------------------------------------------------------- -->
<!-- ------------------TOW-WAY Data Binding----------------------------- -->
<!-- <input type="text" [(ngModel)]="name" >  -->
<!-- ngModel DIRECTIVE is used for TWO-WAY Data-Binding TSX i.e name Here, but for this to Work We need to IMPORT FormsModule in Module.ts File -->
<!-- <p>{{ name }}</p> -->

<!-- ---------------------------------------------------------------------------------- -->
<!-- ----------------------------BASICS------------------------------------------------ -->

<!-- USING BOOTSTRAP -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
      <!-- #This is the Place to Use SELECTORS from Component.ts Files -->
<!-- <h3>This is App Component ts with Server</h3>
<hr> -->
<!-- <app-server></app-server> -->


<!-- <app-servers></app-servers> -->

<!-- 
<h3>This is App Component ts with Servers</h3>
<hr> -->
<!-- Selected by Name -->
<!-- <app-servers></app-servers> -->

<!-- Selected by ATTRIBUTE
<div app-servers></div> -->

<!-- Selected by CLASS
<div class="app-servers"></div> -->


<!-- <h3>This is App component with Warning-Alert</h3>
<app-warning-alert></app-warning-alert> -->
<!-- 
<h3>This is App component with success-Alert</h3>
<app-success-alert></app-success-alert> -->

<!-- PRACTICE PROPERTY AND EVENT BINDING AND ENCAPSULATION -->
<!-- <div class="row">
  <div class="col-xs-12"> -->
    <!-- HERE WE CAN LISTEN ThE OUTPUT(), ##IMPORTANT:-- here the onIntervalFired() Function should be Inside the app.component.ts TYPESCRIPT File, $event is used to LISTEN to the EVENT -->
    <!-- <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"> -->
    <!-- HERE WE CAN INSERT ThE Value INPUT(), ##IMPORTANT:--  -->
    <!-- <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
  </div>
</div> -->

    <!-- </div>
  </div>
</div> -->

<!-- ---------------------------------------------------------------------------------- -->
 <!-- ---------------------------- PRACTICE ADVANCE COMPONENTS and DATA BINDING------------------------------------------------ -->
 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------------------------------------------------------------------------------- -->
 <!-- ---------------------------- PRACTICE ADVANCE DIRECTIVES------------------------------------------------ -->
 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group"> -->
        <!-- Apply the *ngIf Condition to the ODD and EVEN DIV's so that Only one is Displayed and We can Toggle  -->
        <!-- <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let odd of oddNumbers"> -->
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
          <!-- {{ odd }}
        </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let even of evenNumbers"> -->
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
          <!-- {{ even }}
        </li>
        </div> -->

        <!-- ----------------------------- -------------------------------- -------------------------------- -->
        <!-- ----------------------------- PRACTICE STRUCTURAL DIRECTIVE -------------------------------- -->
        <!-- <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let even of evenNumbers"> --> 
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
            <!-- {{ even }}
        </li>
        </div> -->

      <!-- </ul> -->
      <!--BASIC-HIGHLIGHT -- USING THE DIRECTIVE SELECTOR -->
      <!-- <p appBasicHighlight>Style with the BasicHighligh Directive</p> -->
      <!--BETTER-HIGHLIGHT -- USING THE DIRECTIVE SELECTOR -->
      <!-- <p appBetterHighlight>Style with the BetterHighligh Directive</p> -->
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->

     <!-- ----------------------------ngSwitch DIRECTIVES------------------------------------------------ -->
     <!-- ----------------------------ngSwitch DIRECTIVES------------------------------------------------ -->
     <!-- <div [ngSwitch]="value">
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="12">Value is 12</p>
      <p *ngSwitchDefault>Value is Default</p>
     </div> -->

<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- SERVICES ------------------------ -------------------------------- -->

<!-- This Will Display the Account and the New-Account Components -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2"> -->
      <!-- This Will Display the New Account -->
      <!-- <app-new-account></app-new-account>
      <hr> -->
      <!-- Display the Account -->
      <!-- <app-account></app-account>
    </div>
  </div>
</div> -->

 <!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- -----------------------------PRACTICE SERVICES ------------------------ -------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <hr>
      <app-inactive-users></app-inactive-users>
    </div>
  </div>
</div> -->

<!-- 
    </div>
  </div>
</div> -->

<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- ROUTING ------------------------ -------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs"> -->

        <!-- use Special Directive routerLink="" && Add '/' for Home Routing i.e root.Route -->
        <!-- Add routerLinkActive To SHOW/STYLE the Current ACtive Path -->
        <!-- <li 
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> -->
        <!-- Bind routerlinkActiveOptions to Make Sure only Current Path is SHOWN, exact is the property -->
        <!-- <a routerLink="/">Home</a>
        </li> -->

        <!-- use Special Directive routerLink="" && ADD 'servers' for Routing to ServersComponent  -->
        <!-- <li 
        role="presentation"
        routerLinkActive="active">
        <a routerLink="servers">Servers</a>
        </li> -->
        
        <!-- Using Property Binding with routerLink for Special Cases i.e Multiple routing -->
        <!-- use Special Directive routerLink="" && ADD 'users' for Routing to UsersComponent  -->
        <!-- <li 
        role="presentation"
        routerLinkActive="active">
        <a [routerLink]="['users']">Users</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
      <!-- <app-home></app-home> -->
      <!-- After Routing We Render the Components with the Help of Special Directive <router-outlet> -->
        <!-- <router-outlet></router-outlet>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->

<!-- </div> -->


<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- ---------OBSERVABLES ------------------------ -------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a> |
      <a [routerLink]="['user', 1]">
        User 1
      </a>
      |
      <a [routerLink]="['user', 2]">
        User 2
      </a>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->


<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- --------- FORMS -- TEMPLATE-DRIVEN ------------------------------------ -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
      <!-- Add ngSubmit to Bind the onSubmit Function -->
      <!-- Add #f="ngForm" to get the Values Entered by User-->
      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
        <!-- Accessing the Valuew with @viewChild -->
        <!-- <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div 
        id="user-data" 
        ngModelGroup="userData"
        #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            class="form-control"
            ngModel
            name="username"
            required> -->
            <!-- ngModel and name="" will Help Angular to register/Detect the Input Field -->
            <!-- add required Attribute to the Input so that angular treats this as a INVALID input if its EMPTY -->
          <!-- </div>
          <button 
          class="btn btn-default" 
          type="button" 
          (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            type="email" 
            id="email" 
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel"> -->
            <!-- ngModel and name="" will Help Angular to Register/Detect the Input Field -->
            <!-- add required Attribute to the Input so that angular treats this as a INVALID input if its EMPTY -->
            <!-- add email Attribute to the Input so that angular checks for a Valid email Address -->
            <!-- Add #email="ngModel" to Check and Output the Span tag if the email is inValid -->
            <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid Email.</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid.</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
          id="secret" 
          class="form-control"
          [ngModel]="defaultQuestion"
          name="secret"> -->
          <!-- ngModel and name="" will Help Angular to Register/Detect the Input Field -->
            <!-- <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div> -->
        <!-- For the Question Answer -->
        <!-- <div class="form-group">
          <textarea 
          name="questionAnswer" 
          rows="3"
         [(ngModel)]="answer"
         class="form-control"></textarea>
        </div> -->
        <!-- We are Using Two-way data Binding for the answer and String Interpolation to Output -->
        <!-- <p>Your Answer: {{ answer }}</p> -->
        <!-- The Gender Section -->
        <!-- <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
            type="radio"
            name="gender"
            ngModel
            [value]="gender"
            required >{{ gender }}</label>
        </div>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="!f.valid">Submit</button> -->
        <!-- The disabled Property Binding will make the Button Disable if the FORM(f) is Not(!) Valid -->
      <!-- </form>
    </div>
  </div>
  <hr> -->
  <!-- Summarize the Whole DAta -->
  <!-- <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question: Your first {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div> -->


<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- --------- FORMS --REACTIVE APPROACH ------------------------------------ -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
      <!-- Add formGroup Direcive to Synchronize FORM from TypeScript to HTML -->
      <!-- ngSubmit will Submit the Form on Click -->
      <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"> -->
            <!-- formControlName tells ANGULAR that this is the name of this PROPRTY in my TypeScript Cod, Now This username INPUT is Connected to the username Property -->
            <!-- THis checks the Validation -->
            <!-- <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" 
            class="help-block">
            <span *ngIf="signupForm.get('username').errors['nameIsForbidden']">This name is invalid.</span>
            <span *ngIf="signupForm.get('username').errors['required']">This Field is Required.</span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"> -->
            <!-- formControlName tells ANGULAR that this is the name of this PROPERTY in my TypeScript Code, Now This email INPUT is Connected to the email Property -->
            <!-- This checks the Validation -->
            <!-- <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" 
            class="help-block">Please enter a valid Email.</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label> -->
          <!-- formControlName tells ANGULAR that this is the name of this PROERTY in my TypeScript Code, Now This gender INPUT is Connected to the gender Property -->
        <!-- </div> -->
        <!-- adding Arrays of Form Controls -->
        <!-- <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button 
          class="btn btn-default" 
          type="button" 
          (click)="onAddHobby()">Add Hobby</button>
        </div>
        <div class="form-group" 
        *ngFor="let hobbyControl of getControls(); let i = index">
      <input type="text" class="form-control" [formControlName]="i"></div>

        <span *ngIf="!signupForm.valid && signupForm.touched" 
            class="help-block">Please enter a valid data.</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
 -->

 <!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- -------- --------- PRACTICE FORMS --REACTIVE APPROACH ------------------------------------ -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
      <!-- Add the Form Element -->
      <!-- Use Property Binding to Synchronize the Form with TS[formGroup]="projectForm" -->
      <!-- <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input 
          type="text" 
          id="name"
          formControlName="projectName" 
          class="form-control">
        </div>
        <span *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched" 
        class="help-block">
          Please enter a Valid Project Name.
        </span>
        <div class="form-group">
          <label for="email">Mail</label>
          <input 
          type="email" 
          id="email"
          formControlName="email" 
          class="form-control">
        </div>
        <div class="from-group">
          <label for="status">Project Status</label>
          <select 
          id="status"
          formControlName="projectStatus" 
          class="form-control">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Create Project</button>
      </form>
    </div>
  </div>
</div> -->


<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- -------- --------- -------------------PIPES ------------------------------------ -->
<!-- <div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
      <!-- Creating a filter Pipe -->
      <!-- <input type="text" [(ngModel)]="filteredStatus" >
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor=" let server of servers | filter:filteredStatus: 'status' "
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span> -->
          <!-- Add the Pipe name to use the PIPE for a Property -->
          <!-- <strong>{{ server.name | shorten: 10 }}</strong> | -->
          <!-- using UPPERCASE && DATE Pipes --> 
          <!-- {{ server.instanceType | uppercase }} | 
          {{ server.started | date: 'fullDate' | uppercase }} -->
           <!--{{ server.started | uppercase | date: 'fullDate' }} ##this will NOT Work, the Order Matters for PIPES -->
        <!-- </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- -------- --------- ------------------- HTTP REQUEST ------------------------------------ -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p>No posts available!</p>
    </div>
  </div>
</div>












