<!-- ------------------------------------------------------------------------------------- -->
<!-- ------------------TOW-WAY Data Binding----------------------------- -->
<!-- <input type="text" [(ngModel)]="name" >  -->
<!-- ngModel DIRECTIVE is used for TWO-WAY Data-Binding TSX i.e name Here, but for this to Work We need to IMPORT FormsModule in Module.ts File -->
<!-- <p>{{ name }}</p> -->

<!-- ---------------------------------------------------------------------------------- -->
<!-- ----------------------------BASICS------------------------------------------------ -->

<!-- USING BOOTSTRAP -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
      <!-- #This is the Place to Use SELECTORS from Component.ts Files -->
<!-- <h3>This is App Component ts with Server</h3>
<hr> -->
<!-- <app-server></app-server> -->


<!-- <app-servers></app-servers> -->

<!-- 
<h3>This is App Component ts with Servers</h3>
<hr> -->
<!-- Selected by Name -->
<!-- <app-servers></app-servers> -->

<!-- Selected by ATTRIBUTE
<div app-servers></div> -->

<!-- Selected by CLASS
<div class="app-servers"></div> -->


<!-- <h3>This is App component with Warning-Alert</h3>
<app-warning-alert></app-warning-alert> -->
<!-- 
<h3>This is App component with success-Alert</h3>
<app-success-alert></app-success-alert> -->

<!-- PRACTICE PROPERTY AND EVENT BINDING AND ENCAPSULATION -->
<!-- <div class="row">
  <div class="col-xs-12"> -->
    <!-- HERE WE CAN LISTEN ThE OUTPUT(), ##IMPORTANT:-- here the onIntervalFired() Function should be Inside the app.component.ts TYPESCRIPT File, $event is used to LISTEN to the EVENT -->
    <!-- <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"> -->
    <!-- HERE WE CAN INSERT ThE Value INPUT(), ##IMPORTANT:--  -->
    <!-- <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
  </div>
</div> -->

    <!-- </div>
  </div>
</div> -->

<!-- ---------------------------------------------------------------------------------- -->
 <!-- ---------------------------- PRACTICE ADVANCE COMPONENTS and DATA BINDING------------------------------------------------ -->
 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------------------------------------------------------------------------------- -->
 <!-- ---------------------------- PRACTICE ADVANCE DIRECTIVES------------------------------------------------ -->
 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group"> -->
        <!-- Apply the *ngIf Condition to the ODD and EVEN DIV's so that Only one is Displayed and We can Toggle  -->
        <!-- <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let odd of oddNumbers"> -->
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
          <!-- {{ odd }}
        </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let even of evenNumbers"> -->
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
          <!-- {{ even }}
        </li>
        </div> -->

        <!-- ----------------------------- -------------------------------- -------------------------------- -->
        <!-- ----------------------------- PRACTICE STRUCTURAL DIRECTIVE -------------------------------- -->
        <!-- <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let even of evenNumbers"> --> 
          <!-- here, we have already used ngFor, so now we cannot use one more Structural Directive on the Same Element -->
            <!-- {{ even }}
        </li>
        </div> -->

      <!-- </ul> -->
      <!--BASIC-HIGHLIGHT -- USING THE DIRECTIVE SELECTOR -->
      <!-- <p appBasicHighlight>Style with the BasicHighligh Directive</p> -->
      <!--BETTER-HIGHLIGHT -- USING THE DIRECTIVE SELECTOR -->
      <!-- <p appBetterHighlight>Style with the BetterHighligh Directive</p> -->
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->

     <!-- ----------------------------ngSwitch DIRECTIVES------------------------------------------------ -->
     <!-- ----------------------------ngSwitch DIRECTIVES------------------------------------------------ -->
     <!-- <div [ngSwitch]="value">
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="12">Value is 12</p>
      <p *ngSwitchDefault>Value is Default</p>
     </div> -->

<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- SERVICES ------------------------ -------------------------------- -->

<!-- This Will Display the Account and the New-Account Components -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2"> -->
      <!-- This Will Display the New Account -->
      <!-- <app-new-account></app-new-account>
      <hr> -->
      <!-- Display the Account -->
      <!-- <app-account></app-account>
    </div>
  </div>
</div> -->

 <!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- -----------------------------PRACTICE SERVICES ------------------------ -------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <hr>
      <app-inactive-users></app-inactive-users>
    </div>
  </div>
</div> -->

<!-- 
    </div>
  </div>
</div> -->

<!-- ----------------------------- -------------------------------- -------------------------------- -->
<!-- ----------------------------- ROUTING ------------------------ -------------------------------- -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">

        <!-- use Special Directive routerLink="" && Add '/' for Home Routing i.e root.Route -->
        <!-- Add routerLinkActive To SHOW/STYLE the Current ACtive Path -->
        <li 
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- Bind routerlinkActiveOptions to Make Sure only Current Path is SHOWN, exact is the property -->
        <a routerLink="/">Home</a>
        </li>

        <!-- use Special Directive routerLink="" && ADD 'servers' for Routing to ServersComponent  -->
        <li 
        role="presentation"
        routerLinkActive="active">
        <a routerLink="servers">Servers</a>
        </li>
        
        <!-- Using Property Binding with routerLink for Special Cases i.e Multiple routing -->
        <!-- use Special Directive routerLink="" && ADD 'users' for Routing to UsersComponent  -->
        <li 
        role="presentation"
        routerLinkActive="active">
        <a [routerLink]="['users']">Users</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <app-home></app-home> -->
      <!-- After Routing We Render the Components with the Help of Special Directive <router-outlet> -->
        <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->

</div>


















