<!-- <p>The Server Component</p> -->

<!-- // ---------------------STRING INTERPOLATION------------------------------------------------- -->
<!-- <h3>Server with ID {{ serverId }} is {{ serverStatus }}, {{ showMessage() }}</h3> -->



<!-- ---------------------DIRECTIVES *ngIf------------------------------------------------- -->
<h3 [ngStyle]="{backgroundColor: getColor()}">Server with ID {{ serverId }} is {{ serverStatus }}, {{ showMessage() }}</h3>



<!-- -------------------------PRACTICE DATA BINDING--------------------------- -->
<!-- <label>User Name</label>
<input type="text"
class="form-control"
[(ngModel)]="userName"
 >
<hr>

<button class="btn btn-primary"
(click)="onUserAdd()"
[disabled]="userName === ''"
>Add User</button>
<p>{{ userCreationStatus }}</p>
<hr>
 -->
